* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

header {
  height: 14rem ;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

header h1{
  font-size: 1.3rem;
  padding: 0;
  margin: 0 auto;
}

nav {
  width: 100%;
  align-items: center;
  display: flex;
  background-color: #EA2828;
}

.nav-bar{
  width: 100%;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
  justify-content: space-between;
}

.nav-bar a {
  color: #ffffff
}

.nav-bar a:hover {
  color: #3a1a1a;
}

.nav-h3 { 
  text-align: left;
  background-color: #f8e640;
  align-items: center;
}

.nav-h3 h3 {
  text-align: center;
  color: #532121
}